/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: rgb(28, 30, 33);
  background-color: #ffffff;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 15rem;
  margin-bottom: 0.8rem;
}

.column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stackContainer {
  width: 20rem;
  height: 20rem;
  position: relative;
}

.stack {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.rightCol {
  flex-basis: 20rem;
}

.leftCol {
  flex-basis: 60%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 996px) {
  .rightCol {
    flex-basis: 100%;
  }
  .leftCol {
    flex-basis: 100%;
  }
}
